
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
#adminmenu .toplevel_page_product-feed .wp-menu-image > img {
  width: 22px !important;
  margin: 8.5px 7px;
  display: block;
  padding: 0;
}


/* feature updated notice area */
.rex-feed-notice {
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 15px 20px rgba(202, 202, 224, 0.247296);
  border-radius: 10px;
  margin: 45px 20px 15px 0;
}
.rex-feed-notice__content-area {
  clear: both;
}
.rex-feed-notice__header {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 13px 25px;
  background-color: #f6f9ff;
  border-bottom: 1px solid #e0ebff;
  margin: 10px 0 0;
  border-radius: 10px 10px 0px 0px;
}
.rex-feed-notice__heading {
  font-size: 18px;
  font-weight: bold;
  color: #216df0;
  line-height: 21px;
  margin: 0;
}
.rex-feed-notice__close-icon {
  cursor: pointer;
}
.rex-feed-notice__content {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 20px;
  padding: 0 44px 0 25px;
  align-items: self-start;
  background-color: #fff;
  border-radius: 0px 0px 10px 10px;
}
.rex-feed-notice__lists {
  padding: 8px 0 25px;
}
.rex-feed-notice__lists ul {
  margin: 0;
}
.rex-feed-notice__list {
  font-size: 15px;
  font-weight: 400;
  color: #697385;
  padding: 7px 0;
  margin: 0;
}
.rex-feed-notice__list span {
  font-weight: 500;
  color: #216df0;
  line-height: 21px;
}

/* notification var css */

@font-face {
  font-family: "Circular Std Bold";
  src: url("../fonts/circularstd-bold.woff2") format("woff2"), url("../fonts/circularstd-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Circular Std Book";
  src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.rex-feed-tb__notification {
  position: relative;
  width: calc(100% - 20px);
  background-image: url(../icon/halloween.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-color: #1E1F2E;
  z-index: 1111;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: goDown;
  animation-name: goDown;
  margin-top: 50px;
  box-shadow: 0px 10px 40px rgba(8, 28, 61, 0.15);
}

.rex-feed-tb__container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
.rex-feed-tb__content-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rex-feed-tb__btn-area {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.rex-feed-tb__image figure {
  margin: 0;
}
.rex-feed-tb__image figure img {
  max-width: 248px;
}
.rex-feed-tb__content h4 {
  font-family: "Inter";
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  text-align: center;
  color: #00B4FF;
  margin: 0;
}
.rex-feed-tb__content figure {
  margin: 0;
}
.rex-feed-tb__content figure img {
  width: auto;
  max-width: 202px;
  height: auto;
  object-fit: cover;
}
.rex-feed-tb__countdown li {
  display: flex;
  flex-direction: column;
  width: 68.5px;
  font-family: "Circular Std Book";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  text-align: center;
  color: #86869E;
}
@media only screen and (max-width: 1199px) {
  .rex-feed-tb__countdown li {
    width: 45px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 991px) {
  .rex-feed-tb__countdown li {
    font-size: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .rex-feed-tb__countdown li {
    padding: 0;
    font-size: 12px;
  }
}
.rex-feed-tb__countdown ul {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 20px;
}
.rex-feed-tb__countdown li span {
  font-size: 44px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  background: linear-gradient(180deg, #5B97FF 0%, #216DF0 100%) padding-box, linear-gradient(to right, #5B97FF, #216DF0) border-box;
  box-shadow: 0px 5px 0px 0px #1A58C2;
  border: 1px solid transparent;
  margin-bottom: 6px;
}
@media only screen and (max-width: 1199px) {
  .rex-feed-tb__countdown li span {
    font-size: 26px;
    border-radius: 6px;
  }
}
@media only screen and (max-width: 991px) {
  .rex-feed-tb__countdown li span {
    font-size: 24px;
  }
}
@media only screen and (max-width: 767px) {
  .rex-feed-tb__countdown li span {
    font-size: 27px;
  }
}
.rex-feed-tb__btn {
  position: relative;
  font-family: "Circular Std Book";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  padding: 15px 29px;
  text-transform: capitalize;
  letter-spacing: normal;
  background: linear-gradient(#216DF0, #216DF0) padding-box, linear-gradient(to left, #83B0FF, #216DF0) border-box;
  box-shadow: 4px 5px 0px 0px #1449A3;
  border-radius: 30px;
  border: 1px solid transparent;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;

}
.rex-feed-tb__btn:hover {
  background-color: #201cfe;
  color: #ffffff;
  box-shadow: none;
}
.rex-feed-tb__cross-top {
  position: absolute;
  right: -12px;
  top: -12px;
  cursor: pointer;
}

@media only screen and (max-width: 1470px) {
  .rex-feed-tb__notification {
    background-position: right;
  }
}
@media only screen and (max-width: 1399px) {
  .rex-feed-tb__container {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1199px) {
  .rex-feed-tb__content figure img {
    max-width: 150px;
  }
  .rex-feed-tb__content h4 {
    font-size: 20px;
  }
  .rex-feed-tb__countdown ul {
    gap: 15px;
  }
  .rex-feed-tb__btn {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 22px;
  }
  .rex-feed-tb__image figure {
    margin: 0;
  }
  .rex-feed-tb__image figure img {
    max-width: 190px;
  }
}
@media only screen and (max-width: 991px) {
  .rex-feed-tb__content-area {
    gap: 20px;
  }
  .rex-feed-tb__notification {
    margin-top: 80px;
  }
  .rex-feed-tb__content h4 {
    font-size: 19px;
  }
  .rex-feed-tb__btn {
    font-size: 14px;
    line-height: 16px;
    padding: 10px 17px;
  }
}
@media only screen and (max-width: 767px) {
  .rex-feed-tb__notification {
    padding: 27px 0;
  }
  .rex-feed-tb__cross-top {
    right: -4px;
  }
  .rex-feed-tb__notification {
    margin-top: 60px;
  }
  .rex-feed-tb__content-area {
    gap: 10px;
    flex-direction: column;
  }
  .rex-feed-tb__btn {
    font-size: 14px;
    line-height: 18px;
    padding: 11px 22px;
  }
  .rex-feed-tb__content h4 {
    font-size: 26px;
    text-align: center;
  }
  .rex-feed-tb__notification {
    background-position: 13%;
  }
}
/* ANIMATION for go down */
@-webkit-keyframes goDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes goDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

/*# sourceMappingURL=style.css.map */

/*Upgrade Notice*/
.rex-feed-major-update-warning + p {
  display: none;
}