/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#config-table ul.dropdown-content.select-dropdown {
  min-width: 300px;
}

#config-table .small-col {
  width: 10%;
}

#config-table input {
  padding: 0;
  margin-bottom: 10px;
}

#config-table .large-col {
  width: 20%;
}

.form-table td {
  padding: 0 10px;
}

#config-table .select-wrapper input.select-dropdown {
  max-width: 90%;
  text-overflow: ellipsis;
}

#config-table .dropdown-content li>a,
#config-table .dropdown-content li>span{
  font-size: 14px;
}

#cmb2-metabox-rex_feed_file a.btn{
  display: block;
  margin: 20px;
}

.btn i{
  margin: 0 5px;
  vertical-align: bottom;
}

.btn:hover,
.btn-large:hover{
  color: #fff;
}

#poststuff #titlewrap {
  overflow: hidden;
}

#rex-feed-config{
  position: relative;
}

.rex-loading-spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 9;
  opacity: .9;
  text-align: center;
}
.rex-loading-spinner .preloader-wrapper.small.active {
  margin: 100px 0;
}
.cmb2-id-rex-feed-xml-file{
  text-align: center;
}

.cmb2-id-rex-feed-xml-file a{
  margin: 10px 0;
  width: 80%;
}



/*Category Mapper*/

.rex-accordion{
  margin-top: 20px;
}

.rex-accordion h6 a{
  padding: 10px 20px;
  font-size: 0.9em;
  background: #A1C500;
  border-bottom: 1px solid #E1E1E1;
  display: block;
  text-decoration: none;
  margin-bottom: 0;
  color: #fff;
  outline: none;
}
.rex-accordion h6{
  margin: 0;

}
.rex-accordion p {
  margin: 24px 0;
}

.inner{
  border:thin dotted #ccc;
}

.rex-accordion .acordion-item {
  margin: 10px 0;
}
.rex-accordion + h6
{
  margin-top: 64px;
}
.rex-accordion h6 a:before
{
  content: '+';
  margin-right: 16px;
  font-family: arial;
  font-weight: normal;
  width: 5px;
  display: inline-block;
}
.rex-accordion h6 a.selected:before
{
  content: '-';
  margin-right: 16px;
  font-family: arial;
  font-weight: normal;
  width: 5px;
  display: inline-block;
}
.rex-accordion .inner
{
  padding: 10px 20px;
  background:#ececec
}
/*.rex-accordion a.selected*/
/*{*/
/*color: red ;*/
/*}*/

.cat-map-actions{
  padding: 20px;
  float: right;
}



/*Product Filter*/
#rex-feed-config-filter,
.cmb2-id-rex-feed-config-filter-title {
  display: none;
}


/**
Easy Auto Complete
 */

.easy-autocomplete {
  width: 100% !important;
}
.easy-autocomplete input {
  padding: 6px 0 6px 6px;
}


/**
* On Boarding Page
 */


.row {
  width: 100%;
  height: auto;
  padding: 15px;
}

.rex-onboarding {
  background: #fff;
  padding: 15px 25px;
  margin-top: -8px;
  border: 1px solid rgba( 0,0,0,0.1 );
  border-top: none;
  position: relative;
  display: flex;
  min-height: 830px;
}

.rex-onboarding .banner-block img {
  width: 100%;
}
.left {
  flex: 0 0 60%;
}
.right {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}


/*.rex-onboarding .wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
}*/


.onboarding-block  {
  background-color: #fff;
  height: 210px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}


.onboarding-block .header {
  position: relative;
  padding-left: 65px!important;
}
.onboarding-block .header:before {
  content: "";
  position: absolute;
  left: 63px;
  top: 0;
  height: 100%;
  width: 1px;
  background: #eee;
}
.onboarding-block .header .title-icon  {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.banner-block {
  padding: 8px;
}

.onboarding-block .header {
  overflow: hidden;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  padding: 0 10px;
}


.onboarding-block p {
  font-size: 14px;
}

.onboarding-block .body {
  padding: 18px 15px;
}





.tabs-icon {
  font-size: 10px;
  overflow: hidden;
}
.tabs-icon i {
  display: block;
  margin-top: 5px;
  margin-bottom: -15px;
  font-size: 24px;
}
.tabs-icon a.active {
  background-color: #F3F3F3;
}
.tabs-icon a:focus {
  box-shadow: none;
  outline: none;
}
/* OVERWRITE MATERIAL CSS MIN WIDTH FOR MOBILE */
.tabs .tab {
  min-width: 50px !important
}
.tabs .tab-hide {
  display: none;
}
.no-pd {
  padding: 0 !important
}





.rex-onboarding .block-wrapper{
  /*display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;*/
}

.rex-onboarding .wrapper {
  padding-right: 30px;
}
.rex-onboarding .block-wrapper{
  clear: both;
  padding-top: 30px;
}
.rex-onboarding .single-block {
  width: 48.4%;
  float: left;
  margin-left: 30px;
  margin-bottom: 30px;
}
.rex-onboarding .single-block:nth-child(odd){
  margin-left: 0;
}
.rex-onboarding .single-block-full {
  width: 100%;
  clear: left;
  float: none;
}

.rex-onboarding .onboarding-block .header h4 {
  margin: 1em 0;
  padding: 0 1.26582em;
  font-size: 1.185em;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rex-onboarding .right .rex-banner{
  text-align: center;
}
.rex-onboarding .right .rex-banner img.banner-logo{
  width: auto;
}
.rex-onboarding .right .rex-banner .update-btn {
  font-size: 1em;
  color: #23282d;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .065em;
  text-align: center;
  margin: 20px auto 100px;
  display: block;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 4px;
  padding: 15px;
  width: 200px;
  outline: none;
  box-shadow: none;
  transition: all .3s;
}
.rex-onboarding .right .rex-banner .update-btn:hover {
  border-color: rgb(232, 232, 232);
  box-shadow: 0 4px 7px 0 rgba(0,0,0,0.10);
}


.rex-upgrade h4 {
  font-size: 22px;
  font-weight: 600;
}


.rex-upgrade .parent {
  font-family: 'Roboto';
  counter-reset: my-counter;
  width: 400px;
  margin-bottom: 30px;
}

.rex-upgrade .item {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}
.rex-upgrade .item:before {
  color: white;
  background-color: #1FB3FB;
  border-radius: 50%;
  counter-increment: my-counter;
  content: counter(my-counter);
  display: inline-block;
  height: 20px;
  line-height: 20px;
  left: 0;
  margin-right: 10px;
  position: absolute;
  text-align: center;
  width: 20px;
}


.rex-onboarding .tabs {
  height: 55px;
}

.bwf-btn {
  background: #1FB3FB;
}

.bwf-btn:hover {
  background-color: #47CCCF;
}

.rex-onboarding .tabs .tab a{
  color: #47CCCF;
}
.rex-onboarding .tabs .tab a:hover, .rex-onboarding .tabs .tab a.active {
  color: #1FB3FB;
}


.rex-onboarding .tabs .indicator{

  background-color: #1FB3FB;
}

