/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#config-table ul.dropdown-content.select-dropdown {
  min-width: 300px;
}

#config-table .small-col {
  width: 10%;
}

#config-table input {
  padding: 0;
  margin-bottom: 10px;
}

#config-table .large-col {
  width: 20%;
}

.form-table td {
  padding: 0 10px;
}

#config-table .select-wrapper input.select-dropdown {
  max-width: 90%;
  text-overflow: ellipsis;
}

#config-table .dropdown-content li>a,
#config-table .dropdown-content li>span{
  font-size: 14px;
}

#cmb2-metabox-rex_feed_file a.btn{
  display: block;
  margin: 20px;
}

.btn i{
  margin: 0 5px;
  vertical-align: bottom;
}

.btn:hover,
.btn-large:hover{
  color: #fff;
}

#poststuff #titlewrap {
  overflow: hidden;
}

#rex-feed-config{
  position: relative;
}

.rex-loading-spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 9;
  opacity: .9;
  text-align: center;
}
.rex-loading-spinner .preloader-wrapper.small.active {
  margin: 100px 0;
}
.cmb2-id-rex-feed-xml-file{
  text-align: center;
}

.cmb2-id-rex-feed-xml-file a{
  margin: 10px 0;
  width: 80%;
}



/*Category Mapper*/

.rex-accordion{
  margin-top: 20px;
}

.rex-accordion h6 a{
  padding: 10px 20px;
  font-size: 0.9em;
  background: #A1C500;
  border-bottom: 1px solid #E1E1E1;
  display: block;
  text-decoration: none;
  margin-bottom: 0;
  color: #fff;
  outline: none;
}
.rex-accordion h6{
  margin: 0;

}
.rex-accordion p {
  margin: 24px 0;
}

.inner{
  border:thin dotted #ccc;
}
.rex-accordion + h6
{
  margin-top: 64px;
}
.rex-accordion h6 a:before
{
  content: '+';
  margin-right: 16px;
  font-family: arial;
  font-weight: normal;
  width: 5px;
  display: inline-block;
}
.rex-accordion h6 a.selected:before
{
  content: '-';
  margin-right: 16px;
  font-family: arial;
  font-weight: normal;
  width: 5px;
  display: inline-block;
}
.rex-accordion .inner
{
  padding: 10px 20px;
  background:#ececec
}
/*.rex-accordion a.selected*/
/*{*/
  /*color: red ;*/
/*}*/

.cat-map-actions{
  padding: 20px;
  float: right;
}



/*Product Filter*/
#rex-feed-config-filter,
.cmb2-id-rex-feed-config-filter-title {
  display: none;
}