/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#config-table ul.dropdown-content.select-dropdown {
  min-width: 300px;
}

#config-table .small-col {
  width: 10%;
}

#config-table input {
  padding: 0;
  margin-bottom: 10px;
}

#config-table .large-col {
  width: 20%;
}

.form-table td {
  padding: 0 10px;
}

#config-table .select-wrapper input.select-dropdown {
  max-width: 90%;
  text-overflow: ellipsis;
}

#config-table .dropdown-content li>a,
#config-table .dropdown-content li>span{
  font-size: 14px;
}

#cmb2-metabox-rex_feed_file a.btn{
  display: block;
  margin: 20px;
}

.btn i{
  margin: 0 5px;
  vertical-align: bottom;
}

.btn:hover,
.btn-large:hover{
  color: #fff;
}

#poststuff #titlewrap {
  overflow: hidden;
}

#rex-feed-config{
  position: relative;
}

.rex-loading-spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 9;
  opacity: .9;
  text-align: center;
}
.rex-loading-spinner .preloader-wrapper.small.active {
  margin: 100px 0;
}
.cmb2-id-rex-feed-xml-file{
  text-align: center;
}

.cmb2-id-rex-feed-xml-file a{
  margin: 10px 0;
  width: 80%;
}